<h1>About</h1>
<p style="text-align:left;">
	RockyCam came out of an idea to use the Raspberry Pi I bought for a bit of home automation.
	I then thought about seeing what our hamster, Rocky, is up to when we aren't home.
	So using my experience with Node.JS and new found skills in Motion I linked up multiple web cams to monitor Rocky's cage.
</p>
<div style="text-align:center;">
	<img src="/images/photo.jpg" />
</div>

<p>All the code is <a href="http://github.com/ollieparsley/rockycam" target="_blank">available on Github</a></p>

<script>
	var socket = io.connect('http://{{HOST}}:{{PORT}}/');
	socket.on('awake', function(isAwake){
		console.log("awake: ", isAwake);
		updateAwake(isAwake);
	});
</script>
