<!DOCTYPE HTML>
<html>
  <head>
    <title>RockyCam | {{NAME}} camera</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="http://{{HOST}}:{{PORT}}/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/styles/default.css" />
  </head>
  <body>
		<div id="header">
			<a href="/"><img id="logo" src="/images/logo.png" alt="RockyCam" /></a>
		</div>
		<div id="content">
			<h1>{{NAME}} camera</h1>

			<ul id="nav">
				{{CAMERAS_NAV}}
			</ul>

			<div class="imageSurround">
				<img id="camImage" src="" width="640" height="480" />
			</div>
		</div>
		<div id="footer">
			<p>Created by <a href="http://ollieparsley.com">Ollie Parsley</a>, logo by Hannah Waltham and our hamster Rocky :)</p>
		</div>
		<script>
			var socket = io.connect('http://{{HOST}}:{{PORT}}/{{ID}}');
			var image = document.getElementById("camImage");
			socket.on('image', function (imageBase64) {
			image.src = "data:image/jpg;base64," + imageBase64;
		});
		</script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-276472-28']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
